$color-white: #FFFFFF;
$color-light-white: #ffffff15;
$color-blank-white: #F0F1F1;
$color-gray: #2f2f2f;
$color-black: #000000;
$color-light-gray: #0404048f;
$color-green: #478d2b;
$color-blank-green: #9acc92;
$color-blank-black: #1A1818;