// $font-base: 'Heebo', sans-serif;
// $font-alt: 'Orbitron', sans-serif;
// $font-cursive: 'Edu TAS Beginner', cursive;


$font-head1: 36px;
$font-head2: 34px;
$font-head3: 28px;
$font-head4: 26px;
$font-subhead1: 24px;
$font-subhead2: 22px;
$font-general: 18px;
$font-typical: 16px;